
/* Large desktop  */
@media (min-width: 992px) {
   body {
      padding-top: 59px;
   }

   .rowdiv {
      border-bottom: 1px black solid;
   }

   /* Reduce column padding on desktop, align left border */
   .col-xs-12, col-xs-6, col-sm-12, col-sm-6, col-sm-4, col-lg-12, col-lg-6, col-lg-4  {
      padding-left: 0px;
      padding-right:20px;
   }
   /* remove row indentation - not used for formatting */
   .row {
       padding-left: 0px;
       padding-right: 0px;
       margin-left: 0px;
       margin-right: 0px;
   }
   .desktop-only {
       display:block !important;
   }
   .tablet-only {
       display:none !important;
   }
   .mobile-only {
       display:none !important;
   }

   whiteboardHeaderElementStyle {
      font-size: 40px;
   }
}

/* Tablets */
@media (max-width: 991px) and (min-width: 768px) {
   body {
       padding-top: 59px;
   }
   .rowdiv {
       border-bottom: 1px black solid;
   }
   /* Reduce container padding on tablets */
   .container {
      padding-left: 10px;
      padding-right:10px;
   }
   /* Reduce column padding on tablets */
   .col-xs-12, col-xs-10, col-xs-8, col-xs-6, col-xs-4, col-xs-3, col-xs-2, col-sm-12, col-sm-10, col-sm-8, col-sm-6, col-sm-4, col-sm-3, col-sm-2 {
      padding-left: 5px;
      padding-right:10px;
   }
   /* remove row indentation - not used for formatting */
   .row {
      padding-left: 0px;
      padding-right:0px;
      margin-left: 0px;
      margin-right:0px;
   }
   .desktop-only {
       display:none !important;
   }
   .tablet-only {
       display:block !important;
   }
   .mobile-only {
       display:none !important;
   }

   whiteboardHeaderElementStyle {
      font-size: 32px;
   }
}

/* Landscape phones and down */
@media (max-width: 767px) {
   body {
       padding-top: 55px;
   }
   .rowdiv {
       border-bottom: 1px black solid;
   }
    /* Reduce container padding on mobiles to as low as it can be & still have legible text against the sides */
   .container {
      padding-left: 2px;
      padding-right:2px;
      margin-left: 0px;
      margin-right:0px;
   }
   /* Reduce column padding on mobiles */
   .col-xs-12, col-xs-10, col-xs-8, col-xs-6, col-xs-4, col-xs-3, col-xs-2, col-sm-12, col-sm-10, col-sm-8, col-sm-6, col-sm-4, col-sm-3, col-sm-2 {
      padding-left: 1px;
      padding-right:2px;
      margin-left: 0px;
      margin-right:0px;
   }
    /* remove row indentation - not used for formatting */
   .row {
      padding-left: 0px;
      padding-right:0px;
      margin-left: 0px;
      margin-right:0px;
   }
   .desktop-only {
       display:none !important;
   }
   .tablet-only {
       display:none !important;
   }
   .mobile-only {
       display:block !important;
   }
   whiteboardHeaderElementStyle {
      font-size: 24px;
   }
}

a.disabled-link,
a.disabled-link:visited,
a.disabled-link:active,
a.disabled-link:hover {
    background-color:lightgray;
    color:lightgray;
}

/* All form factors */
.alert {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;    
    font-size: 14px;
    line-height: 18px;    
}

/* Main body and heading */
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: center;
}

.heading, .subheading {
    font-family: 'ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
    vertical-align:middle;
}

p {
    font-size: 14px;
}

.footer {
    color: #696969;
    text-align: center;
}
.footer p {
    font-size: 12px;
}
.footer a {
    color: #696969;
}

@font-face {
   font-family: "digital-clock";
   src: local('digital-clock'), url('digital-7 (mono).ttf') format('truetype');
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


